main {
  justify-content center
  align-items center
  height 100vh !important
}

h1 {
  font-size 40vw
  line-height 1
  margin 0
  font-weight 900
  color #a06a0e
  font-family serif

  span {
    display inline-block
    transition 0.3s color, 2s transform
    transform rotate(0deg)

    &:hover {
      color #1c4264
      transform rotate(359.99deg)
    }
  }
}
