@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800;900&display=swap')

main {
  justify-content center
  align-items center
  height 100vh!important
}

h1 {
  font-size 40vw
  line-height 1
  margin 0
  font-weight 900
  color #a06a0e
  font-family 'Montserrat'
}
