.welcome {
  display flex
  flex-direction column
  text-align center

  h1 {
    font-family 'Montserrat'
    font-size @css { clamp(50px, 12vw, 120px) }
    font-weight 900
    line-height 1.07
    margin-bottom 10px
    font-display swap

    .accented {
      color #a06a0e
    }
  }

  .text {
    font-size @css { clamp(20px, 4vw, 30px) }
  }
}

.latest-work {
  text-align center

  .thumbnail {
    img, video {
      height auto
    }

    .play-icon {
      font-size clamp(40px, 18vw, 100px)
    }
  }

  @supports not (margin-block 10vmax) {
    & {
      margin-block 100px
    }
  }

  @supports (margin-block 10vmax) {
    & {
      margin-block 10vmax
    }
  }
}
