.card {
  max-width 100%
  text-align center

  .thumbnail {
    max-width 100%
    margin-bottom 10px
    border-radius 10px
    position relative
    display block
    cursor pointer

    img.image {
      max-width 100%
      border-radius 10px
    }

    .play-icon {
      top 50%
      left 50%
      position absolute
      color #fff
      font-size 50px
      transform translate(-50%, -50%)
      filter drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.4))
      display none
    }

    &.video {
      img.image {
        filter brightness(50%)
      }

      .play-icon {
        display block
      }
    }
  }
}

.grid {
  display grid
  grid-template-columns repeat(auto-fit, minmax(200px, 1fr))
  grid-gap 1rem
  grid-auto-flow dense

  .latest-work {
    grid-column span 2
    grid-row span 2

    @media (max-width 600px) {
      grid-row span 1
    }

    @media (max-width 400px) {
      grid-column span 1
    }
  }

  .card {
    display flex
    flex-direction column

    .thumbnail {
      flex 1
      background-color #000

      img {
        height 100%
        object-fit contain
      }
    }
  }
}
